<p-toast></p-toast>
<div class="admin-page">
    <p-card header="products" subheader="List of all products">
        
        <div class="grid">
            <div class="col-12"> 
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button label="Add New Product" 
                        styleClass="p-button py-2 px-3 " 
                        icon="pi pi-plus"
                        routerLink="form"
                        ></p-button>   
                    </div>
                </p-toolbar>
            </div> 
        </div>

        <div class="grid"></div>
        <div class="col-12 ">
            <p-table [value]="products" 
                     [paginator]="true" [rows]="10"
                     responsiveLayout="scroll" 
                     styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th pSortableColumn="id">ID</th> -->
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th > Image</th>
                        <th   pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th></th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <!-- <td>{{product._id}}</td> -->
                        <td >{{product.name}}</td>
                        <td><img [src]="'https://project-storeelc.herokuapp.com/'+product.productImage" style="width:200px; padding: 0px 20px;"  /></td>
                        <td>{{product.price + ' EGP'}}</td>
                        <td>
                          <p-button (click)="deleteProduct(product._id)" styleClass="p-button-danger ml-5 " icon="pi pi-trash"></p-button>  
                          <p-button (click)="updateProduct(product._id)" styleClass="p-button ml-5  " icon="pi pi-pencil"></p-button>  
                        </td>
                      
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"> </p-confirmDialog>

