<div class="grid login-page">
    <div class="xl:col-6 lg:col-6 sm:col-12  md:col-12 flex justify-content-center align-items-center login-form-cotainer">
        <div class="form-container">
            <div class="grid justify-content-center ">
                <div class="col-8 text-3xl font-medium mb-2" style="color: #19487b"> Welcome!
                    <p style=" color: black;"class="text-base pt-1 mb-2" >Sign In To EShopy Admin Dashboard</p>
                </div>
            </div>
            <form [formGroup]="loginFormGroup">
                <div class="grid justify-content-center ">
                    <div class="col-8">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" formControlName="email" pInputText placeholder="Email" />
                        </div>
                        <small *ngIf="loginForm.email && isSubmitted" class="p-error"
                            ><span *ngIf="loginForm.email.errors.required">email is required</span>
                            <span *ngIf="loginForm.email.errors.email">email is invalid</span></small
                        >
                    </div>
                    <div class="col-8">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <input type="password" formControlName="password" pInputText placeholder="Password" />
                        </div>
                        <small *ngIf="loginForm.password.invalid && isSubmitted" class="p-error">Password is required </small>
                    </div>
                    <div class="col-8">
                        <button class="login-btn mt-2" (click)="onSubmit()"> submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-6 login-logo-background">
        <div class="login-logo-container">
            <img class="login-logo" src="../../../assets/images/EShopy..svg" alt="Eshopy logo" />
        </div>
    </div>
</div>
